* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000;
}

.custom {
  background: transparent;
}

header.sticky {
  background: linear-gradient(
    135deg,
    rgba(52, 68, 112, 0.1),
    rgba(8, 8, 89, 0.2)
  );
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 20px;
  border: 1px solid rgba(52, 68, 112, 0.1);
}

.back {
  position: relative;
  width: 100%;
  height: auto;
  background: radial-gradient(ellipse at bottom, #251d38 0%, #111525 80%);
  overflow: hidden;
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  z-index: 0;
}

.stars span {
  position: relative;
  width: 0.5vw;
  height: 0.5vw;
  background-color: aliceblue;
  margin: 1vw;
  border-radius: 50%;
  box-shadow: 0 0 0 0.3vw #4fc3dc44, 0 0 0vw 0.4vw #4fc3dc, 0 0 0 0.8vw #4fc3dc;
  animation: balls 3s reverse infinite;
  animation-duration: calc(180s / var(--i));
}

@keyframes balls {
  0% {
    transform: translateY(150vh) scale(0.2);
  }
  100% {
    transform: translateY(-10vh) scale(0.1);
  }
}

.underline {
  height: 2px;
  border-radius: 10em;
  background-color: rgb(144, 164, 231);
  transform: scaleX(0);
}

.nav li:hover .underline {
  animation: line 0.3s ease-in-out forwards;
}

@keyframes line {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

nav li:hover > .underline {
  opacity: 1;
}

@media (max-width: 768px) {
  .stars span {
    width: 2vw;
    height: 2vw;
    margin: 1vw;
    box-shadow: 0 0 0 0.6vw #4fc3dc44, 0 0 0 0.8vw #4fc3dc, 0 0 0 0.8vw #4fc3dc;
  }
}

@media (max-width: 480px) {
  .stars span {
    width: 3vw;
    height: 3vw;
    margin: 1vw;
    box-shadow: 0 0 0 0.9vw #4fc3dc44, 0 0 0 1.2vw #4fc3dc, 0 0 0 1.2vw #4fc3dc;
  }
  .back {
    height: 130vh;
  }
  .home {
    flex-direction: column;
  }
  #projects {
    margin-top: 5em;
  }
  .card {
    width: 20rem;
  }
  .contact {
    flex-direction: column;
  }
  .contact .imgcontainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: rotate(360deg);
  }
}

body::-webkit-scrollbar {
  width: 0.5em;
  background-color: #111525;
}
body::-webkit-scrollbar-thumb {
  border-radius: 20em;
  background-color: rgb(96, 129, 142);
}

.home {
  height: calc(100vh - 48px);
  position: relative;
  z-index: 1;
}
.home h1 {
  font-size: 3rem;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
}
.home p {
  font-size: 1.2em;
  background: linear-gradient(to right, #54546a, #3f3f67);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home h2 {
  font-size: 1.7rem;
  -webkit-text-stroke: 1px #a5c2ce;
  color: transparent;
}
.bottom {
  position: absolute;
  bottom: -40em;
  width: 100%;
  height: 20vh;
  background: linear-gradient(transparent, black);
  transition: bottom 0.5s 0.1s ease-in-out;
  font-size: 0.4em;
  color: #fff;
  padding: 5em;
}

.effect {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.effect:hover .bottom {
  bottom: 0em;
}

#projects h1 {
  margin-top: 2em;
  -webkit-text-stroke: 1px #a5c2ce;
  color: transparent;
}
.card {
  max-width: 100%;
  margin: auto;
  margin-top: 5em;
}
.card-body {
  position: relative;
  top: 0;
  left: 0;
}
.card button {
  position: absolute;
  right: 1em;
  bottom: 2em;
  width: fit-content;
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.5s ease-in-out;
}
.card:hover button {
  opacity: 1;
  transform: translateY(0%);
}
button:hover {
  scale: 0.9;
}

#contact h1 {
  margin-top: 4em;
  -webkit-text-stroke: 1px #a5c2ce;
  color: transparent;
}
.imgcontainer img {
  width: 40vw;
  height: 90vh;
  object-fit: contain;
  transform: rotate(90deg);
}
form {
  width: 100%;
}
.input-group input::placeholder,
.input-group textarea::placeholder {
  color: white;
}
.formcontainer{
  width: 100%;
  height: 100%;
}
.formcontainer .btn-outline-success {
  box-shadow: 0.2em 0.2em 6em #fff;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  margin: auto;
}
.formcontainer .btn-outline-success:hover {
  scale: 1.1;
}
